@font-face {
  font-family: 'SF Compact Display';
  src: local('SF Compact Display'),
    url('../../fonts/sf-compact-display-medium-5864711817c30.otf') format('opentype'),
    url('../../fonts/sf-compact-display-thin-58646eb43a785.otf') format('opentype');
}

.auth {
  font-family: 'SF Compact Display' !important;
  padding-top: 136px;
  max-width: 374px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.auth__form {
  margin-bottom: 5px;
}
.auth p {
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #939292;
}
.auth p a {
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  color: #20201f;
  text-decoration: none;
  transition: 0.3s;
  padding-left: 13px;
}
.auth p a:hover {
  color: #939292;
}
.password__opacity {
  position: relative;
}
.password__opacity::after {
  content: '';
  width: 20px;
  height: 14px;
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 12px;
  background: url('../../image/Group.svg') no-repeat center;
}

.auth input {
  padding: 9px 0;
  margin-bottom: 35px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #dedede;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #939292;
}
.auth input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #939292;
}
.auth .invalid {
  color: red;
  border-bottom: 1px solid red;
}
